<div nz-row>
    <form nz-col nzSpan="12">
        <div nz-row nzAlign="middle">
            <h2>List Type Of Project</h2>
            <div class="searchFullName">
                <input type="text" name="full_name" placeholder="Enter full name" />
                <i nz-icon nzType="search"></i>
            </div>
        </div>
    </form>
    <button nz-button nzType="primary" nz-col nzSpan="4" nzOffset="8"><a routerLink="/brycen/type-project/add"><i
                nz-icon nzType="plus" nzTheme="outline" style="margin-right: 5px;"></i>Create new type</a></button>
</div>
<hr />
<nz-table nzTemplateMode nzTableLayout="fixed" style="min-height: 80%; margin-bottom: 20px;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let type of types; let i = index">
            <td>{{ i + 1 + (pageIndex - 1) * pageSize }}</td>
            <td>{{ type.type }}</td>
            <td>
                <a>update</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Disable</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="totalItem"
    (nzPageIndexChange)="getCurrenIndex($event)"></nz-pagination>