<h2>Add new employee</h2>
<hr />
<div nz-row nzAlign="middle" nzJustify="space-around">
    <div nz-col nzXXL="8" nzXL="8" nzLg="12" nzMd="12" nzSM="18" nzXs="18" style="margin: 0 auto">
        <form>
            <div nz-row>
                <label nz-col nzSpan="6"><span>* </span>Username:</label>
                <input type="text" name="username" (keyup)="onChangeValue($event)" nz-col nzSpan="18" />
            </div>

            <!-- <div *ngIf="isValidName.length > 0" nz-row>
                <p nzOffset="6" nz-col>{{isValidName}}</p>
            </div> -->

            <div nz-row>
                <label nz-col nzSpan="6"><span>* </span>password:</label>
                <input type="password" name="password" (keyup)="onChangeValue($event)" nz-col nzSpan="18" />
            </div>

            <div nz-row>
                <label nz-col nzSpan="6"><span>* </span>full_name:</label>
                <input type="text" name="full_name" (keyup)="onChangeValue($event)" nz-col nzSpan="18" />
            </div>

            <div nz-row>
                <label nz-col nzSpan="6"><span>* </span>id_card:</label>
                <input type="text" name="id_card" (keyup)="onChangeValue($event)" nz-col nzSpan="18" />
            </div>
            <div nz-row>
                <label nz-col nzSpan="6">birthday:</label>
                <nz-date-picker name="birthday" nz-col nzSpan="18" [nzFormat]="dateFormat" [(ngModel)]="data.birthday"></nz-date-picker>
                <!-- <input type="date" name="birthday" (keyup)="onChangeValue($event)" nz-col nzSpan="18" /> -->
            </div>
            <div nz-row class="select-box">
                <label nz-col nzSpan="6"><span>* </span>gender:</label>
                <nz-select name="gender" nz-col nzSpan="18" [(ngModel)]="data.gender">
                    <nz-option [nzValue]=1 nzLabel="male"></nz-option>
                    <nz-option [nzValue]=0 nzLabel="female"></nz-option>
                </nz-select>
            </div>
            <div nz-row>
                <label nz-col nzSpan="6">phone:</label>
                <input type="text" name="phone" (keyup)="onChangeValue($event)" nz-col nzSpan="18" />
            </div>
            <div nz-row>
                <label nz-col nzSpan="6">email:</label>
                <input type="text" name="email" (keyup)="onChangeValue($event)" nz-col nzSpan="18" />
            </div>
            <div nz-row>
                <label nz-col nzSpan="6">position:</label>
                <input type="text" name="position" (keyup)="onChangeValue($event)" nz-col nzSpan="18" />
            </div>
            <div nz-row>
                <label nz-col nzSpan="6"><span>* </span>department:</label>
                <nz-select name="department" nz-col nzSpan="18" [(ngModel)]="data.department.id">
                    <nz-option [nzValue]="department.id" *ngFor="let department of departments" [nzLabel]="department.name"></nz-option>
                </nz-select>
            </div>
            <div nz-row class="select-box">
                <label nz-col nzSpan="6"><span>* </span>status:</label>
                <nz-select name="status" nz-col nzSpan="18" [(ngModel)]="data.status.id">
                    <nz-option [nzValue]="status.id" *ngFor="let status of status" [nzLabel]="status.name"></nz-option>
                </nz-select>
            </div>
            <div nz-row>
                <label nz-col nzSpan="6"><span>* </span>role:</label>
                <nz-select name="role" nz-col nzSpan="18" [(ngModel)]="data.role.id">
                    <nz-option [nzValue]="role.id" *ngFor="let role of roles" [nzLabel]="role.name"></nz-option>
                </nz-select>
            </div>

            <div>
                <button (click)="addEmployee(data)" nz-button nzType="primary" nz-col nzSpan="6"
                    nzOffset="6">save</button>
            </div>
        </form>
    </div>
</div>