<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible nzWidth="256px" nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="../assets/logo.png" alt="logo">
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/brycen/department">Department</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/brycen/skill">Skill</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/brycen/employee">Employee</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <div class="user_icon--top" nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
          <div class="btn-user">
            <img src="../../assets/img_user.jpg" alt="" />
          </div>
          <span>{{title}}</span>
        </div>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item><a routerLink="/brycen/profile">profile</a></li>
            <li nz-menu-item>menu2 2nd menu item</li>
            <li nz-menu-item (click)="logout()">Logout</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>