<h2>Add new type</h2>
<hr />
<div nz-row nzAlign="middle" nzJustify="space-around">
    <div nz-col nzXXL="8" nzXL="8" nzLg="12" nzMd="12" nzSM="18" nzXs="18" style="margin: 0 auto">
        <form nz-form>
            <nz-form-item  nz-row>
                <label nz-col nzSpan="6"><span>* </span>Type:</label>
                <nz-form-control nz-col nzSpan="18" [(nzValidateStatus)]="validateResult"
                    [(nzErrorTip)]="validateValue.type">
                    <input nz-input type="text" name="type" (keyup)="onChangeValue($event)" />
                </nz-form-control>
            </nz-form-item>

            <div>
                <button (click)="addType(data)" nz-button nzType="primary" nz-col nzSpan="6"
                    nzOffset="6">save</button>
            </div>
        </form>
    </div>
</div>