<form [formGroup]="myForm">

  <div formArrayName="data">

    <div *ngFor="let phone of skillForms.controls; let i=index" [formGroupName]="i">
      <nz-select formControlName="skill">
        <nz-option [nzValue]="skill.id" *ngFor="let skill of skillsSuggest" [nzLabel]="skill.name"></nz-option>
      </nz-select>
      <nz-select formControlName="level">
        <nz-option [nzValue]="level.id" *ngFor="let level of levelsSuggest" [nzLabel]="level.name"></nz-option>
      </nz-select>
      <input formControlName="employee" style="display: none;"/>
      <button (click)="deleteForm(i)">Delete</button>
    </div>
  </div>

  <button (click)="addForm()">Add Field</button>

</form>
<button nz-button nzType="primary" class="btnAddField" (click)="saveSkill()">Save</button>